.laji-form .informal-group-image.MVL\.26 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.26.svg);
}
.laji-form .informal-group-image.MVL\.1 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.1.svg);
}
.laji-form .informal-group-image.MVL\.39 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.39.svg);
}
.laji-form .informal-group-image.MVL\.27 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.27.svg);
}
.laji-form .informal-group-image.MVL\.232 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.232.svg);
}
.laji-form .informal-group-image.MVL\.233 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.233.svg);
}
.laji-form .informal-group-image.MVL\.2 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.2.svg);
}
.laji-form .informal-group-image.MVL\.40 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.40.svg);
}
.laji-form .informal-group-image.MVL\.37 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.37.svg);
}
.laji-form .informal-group-image.MVL\.28 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.28.svg);
}
.laji-form .informal-group-image.MVL\.41 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.41.svg);
}
.laji-form .informal-group-image.MVL\.21 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.21.svg);
}
.laji-form .informal-group-image.MVL\.28 {
	background-image: url(https://dev.laji.fi/static/images/informalGroups/MVL.28.svg);
}
