body .laji-form {
	font-size: 13px;
	position: relative;
}

.laji-form:focus, .laji-form *:focus {
	outline: none;
}

.laji-form .form-control:focus, .laji-form *:not(.rw-btn):not(.rw-list-option).rw-state-focus, .laji-form .bootstrap-switch-focused {
	-webkit-box-shadow: 0 0 1pt 1.5pt rgb(94, 158, 214);
	box-shadow: 0 0 1pt 1.5pt rgb(94, 158, 214);
}

.laji-form .has-error .form-control {
	border-color: #a94442 !important;
}
.laji-form.blocking-loader {
	visibility: hidden;
	width: 100%;
	height: 100%;
	background: #000000;
	position: fixed;
	top: 0;
	z-index: 1051;
	transition: opacity 200ms ease-in;
	opacity: 0.0;
}
.laji-form.blocking-loader.enter-start,
.laji-form.blocking-loader.entering,
.laji-form.blocking-loader.leave-start,
.laji-form.blocking-loader.leaving {
	visibility: visible;
}
.laji-form.blocking-loader.enter-start {
	opacity: 0.0;
}
.laji-form.blocking-loader.entering {
	opacity: 0.5;
}
.laji-form.blocking-loader.leave-start {
	opacity: 0.5;
}
.laji-form.blocking-loader.leaving {
	opacity: 0.1;
}

.laji-form .pass-block {
	z-index: 1052 !important;
}

.laji-form .pass-block, .laji-form .pass-block .panel {
	-webkit-box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
}

.laji-form .fetcher-input input {
	padding-right: 27px;
}
.laji-form .autosuggest-container {
	position: absolute;
	z-index: 1;
}
.laji-form .autosuggest-container ul {
	padding-left: 0px;
}
.laji-form .autosuggest-wrapper {
	position: relative;
}
.laji-form .autosuggest-wrapper .rw-popup {
	left: initial;
	right: initial;
}
.laji-form .fetcher-input .dropdown-menu {
	display: block;
}
.laji-form .fetcher-input .option-wrapper {
	padding: 2px;
}
.laji-form .fetcher-input .list-group {
	margin-bottom: 0px;
}

.laji-form .map-array-directionless-enter {
	opacity: 0.01;
}
.laji-form .map-array-directionless-enter.map-array-directionless-enter-active {
	opacity: 1;
	transition: opacity .3s ease-in;
}
.laji-form .map-array-left-enter {
	transform: translate3d(-100%, 0, 0);
}
.laji-form .map-array-right-enter {
	transform: translate3d(100%, 0, 0);
}
.laji-form .map-array-left-enter.map-array-left-enter-active, .map-array-right-enter.map-array-right-enter-active {
	transform: translate3d(0, 0, 0);
	transition: all 300ms;
}
.laji-form .map-array-directionless-leave, .map-array-left-leave, .map-array-right-leave {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.laji-form .form-control, .laji-form .rw-widget, .laji-form .rw-widget-container, .laji-form .rw-list-option {
	border-radius: 2px !important;
}
.laji-form .form-control:not(textarea) {
	height: 25px !important;
}
.laji-form .form-control-feedback {
	line-height: 25px;
	height: 25px;
	width: 25px;
	font-size: 10px;
}
.laji-form .rw-input {
	height: 23px !important;
}
.laji-form .form-control:not(textarea), .laji-form .rw-input  {
	padding: 0px 5px;
}
.laji-form select {
	padding: 3px 6px !important;
}

.laji-form .rw-input-reset {
    height: 23px;
}

.rw-multiselect-taglist li {
	height: 20px;
	font-size: 11px;
	padding: 2px;
	color: white;
	background-color: #286090;
	font-weight: bold;
}

.laji-form .rw-list-option.rw-state-focus:not(.rw-state-selected) {
	background-color: #e6e6e6;
	border-color: #e6e6e6;
}
.laji-form ul.rw-list > li.rw-list-option, .rw-selectlist > li.rw-list-option {
min-height: 20px;
}
.laji-form .rw-combobox .rw-list, .laji-form .rw-datetimepicker .rw-list, .laji-form .rw-numberpicker .rw-list, .laji-form .rw-dropdownlist .rw-list, .laji-form .rw-multiselect .rw-list {
    max-height: 50vh;
}

.laji-form .form-group {
	margin-bottom: 0;
}
.laji-form .form-group-padding-bottom {
	margin-bottom: 6px;
}

.laji-form button {
	line-height: 14px;
	white-space: normal;
}
.laji-form button:not(.list-group-item) {
	border-radius: 2px;
}

.laji-form legend {
	font-size: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.laji-form legend.lg {
	font-size: 20px;
}
.laji-form label {
	font-size: 13px;
	white-space: nowrap;
	margin-bottom: 1px;
	display: inline-block;
	max-width: 100%;
	margin-top: 5px;
}
.laji-form .leaflet-container label {
	display: inherit;
}
.laji-form label > div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form label > div > strong {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.laji-form .field-without-label {
	margin-top: 5px;
}
.laji-form .well-sm {
	padding-top: 4px;
}
.laji-form .table-condensed .well-sm {
	padding-top: 0;
}
.laji-form .table-condensed .laji-form-field-template-buttons {
	margin-top: 5px;
}

.laji-form .field-description {
	font-size: 13px;
}

.laji-form .well {
	margin-bottom: 6px;
}

.laji-form .input-meta {
	font-size: 11px;
	white-space: nowrap;
}
.laji-form .input-meta button {
	font-size: 11px;
	padding: 0;
	margin: 0;
}
.laji-form .taxon-widget.input-meta {
	margin-top: -7px;
}
.laji-form .meta-info-taxon {
	display: inline-block;
}
.laji-form .input-meta ul {
	padding-left: 15px;
}

.laji-form .laji-form-help-glyph {
	margin-left: 5px;
	border-radius: 9px;
	color: white;
	padding: 0px 6px;
	font-size: 13px;
}

.laji-form .laji-form-map-container {
	z-index: 1;
	position: relative;
	height: 100%;
}
.laji-form .laji-form-map {
	height: 100%;
	overflow: hidden;
	position: relative;
}
.laji-form .laji-form-map-container .laji-form-popped {
	position: absolute;
	left: 25%;
	right: 25%;
	top: 5px;
	overflow: hidden;
}
.laji-form .map-field .field-description {
	padding-bottom: 15px;
}

.laji-form .pass-block .panel {
	position: absolute;
	z-index: 500 !important;
	top: 3%;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

.laji-form .leaflet-rrose-content-wrapper {
	border-radius: 2px;
}
.map-data-tooltip {
	list-style: none;
	padding: 0;
	text-align: initial;
}
.laji-form .laji-form-images .btn-danger {
	width: auto;
	height: auto;
	line-height: 5px;
	font-size: 11px;
	padding: 5px;
	margin: 2px;
}
.laji-form .glyph-button, .laji-form .laji-form-field-template-buttons button:not(.delete-corner) {
	width: 25px;
	height: 25px;
	font-size: 11px;
	padding: 3px 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}
.laji-form .laji-form-scope-field-glyph {
	line-height: 9px;
}

.laji-form .dropdown-header {
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.laji-form .react-spinner_bar {
	background-color: black;
}
.laji-form .react-spinner {
	position: absolute;
	left: initial;
	top: initial;
	float: right;
}
.laji-form .fetcher-input .react-spinner {
	z-index: 3;
	width: 25px;
	right: -11px;
	bottom: -20px;
}
.laji-form .input-meta .react-spinner {
	width: 20px;
	left: 11px;
	top: 10px;
	position: relative;
}

.laji-form button .react-spinner {
	position: relative !important;
	float: left !important;
	height: 7px;
	width: 15px;
	margin-top: 8px;
	margin-left: 2px;
	margin-bottom: 1px;
}
.laji-form button .react-spinner .react-spinner_bar {
	background-color: white !important;
}

.laji-form .scope-field-modal-item .react-spinner {
	left: 50%;
	width: 25px;
	top: 20px;
	float: none;
	position: relative;
}
.laji-form .scope-field-modal-item .list-group-item {
	line-height: 0px;
}
.laji-form.scope-field-modal-item span {
	font-weight: bold;
}
.laji-form .scope-field-search {
	width: 40%;
	display: block;
	margin: auto;
}

.laji-form .scope-field-search .glyphicon {
	top: -3px
}

.laji-form.scope-field-modal-item .list-group-item:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #ececec;
}
.laji-form.scope-field-modal-item .list-group-item:first-child.active {
	background-color: #255c8c;
}

.laji-form .dropdown-menu {
	padding: 0px;
	border-radius: 2px;
}

.laji-form button.button-right {
	float: right;
	white-space: nowrap;
}

.laji-form .dropdown-menu>.disabled>a {
	color: #d4d4d4;
}

.laji-form .out-of-view {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: white;
	z-index: 1;
	-webkit-box-shadow: -2px 18px 43px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 18px 43px -18px rgba(0,0,0,0.75);
	box-shadow: -2px 18px 43px -18px rgba(0,0,0,0.75);
}
.laji-form .form-map-inline-container {
	overflow: hidden;
}
.laji-form .form-map-inline-container {
	overflow: hidden;
}
.laji-form .map-array-inline-schema {
	overflow-y: auto;
	overflow-x: hidden;
}
.laji-form .nav-tabs>li.hover>a {
	border-color: #eee #eee #ddd;
	text-decoration: none;
	background-color: #eee;
}
.laji-form .laji-form-map-navi {
	margin-bottom: 5px;
}
.laji-form .laji-form-images {
	margin-top: 10px;
}
.laji-form .laji-form-images > div {
	margin-right: 7px;
	width: 120px;
	height: 120px;
	float: left;
	cursor: pointer;
}
.laji-form .laji-form-images img {
	width: inherit;
	height: inherit;
}

.laji-form .laji-form-drop-zone {
	border: 2px dashed #cacaca;
}
.laji-form  .laji-form-drop-zone:hover, .laji-form .laji-form-drop-zone.dragging  {
	background-color: #d8fbc6;
	border-color: #a7d490;
}
.laji-form .laji-form-images a:hover, .laji-form .laji-form-images a:active {
	text-decoration: none;
	color: #337ab7;
}
.laji-form .laji-form-drop-zone:hover span, .laji-form .laji-form-drop-zone.dragging span {
	color: #a7d490;
}
.laji-form .laji-form-images a {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.laji-form .laji-form-images .glyphicon {
	font-size: 78px;
	color: #dedede;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-top: 16px;
}
.laji-form .darker .laji-form-images .glyphicon {
	color: #cacaca;
}

.laji-form.image-modal {
	width: 90vmin;
}

.laji-form.image-modal img {
	width: 100%;
}

.laji-form .img-container {
	position: relative;
}
.laji-form .delete-corner {
	border-radius: 7px !important;
	padding: 4px 2px !important;
	top: -9px;
	position: absolute;
	right: -8px;
	width: 15px;
	height: 15px;
	line-height: 7.5px;
}

.laji-form .list-group-item.disabled {
	opacity: .65;
}

.laji-form .modal-title {
	text-align: center;
}

.laji-form .col-lg-1, .laji-form .col-lg-10, .laji-form .col-lg-11, .laji-form .col-lg-12, .laji-form .col-lg-2, .laji-form .col-lg-3, .laji-form .col-lg-4, .laji-form .col-lg-5, .laji-form .col-lg-6, .laji-form .col-lg-7, .laji-form .col-lg-8, .laji-form .col-lg-9,
.laji-form .col-md-1, .laji-form .col-md-10, .laji-form .col-md-11, .laji-form .col-md-12, .laji-form .col-md-2, .laji-form .col-md-3, .laji-form .col-md-4, .laji-form .col-md-5, .laji-form .col-md-6, .laji-form .col-md-7, .laji-form .col-md-8, .laji-form .col-md-9,
.laji-form .col-sm-1, .laji-form .col-sm-10, .laji-form .col-sm-11, .laji-form .col-sm-12, .laji-form .col-sm-2, .laji-form .col-sm-3, .laji-form .col-sm-4, .laji-form .col-sm-5, .laji-form .col-sm-6, .laji-form .col-sm-7, .laji-form .col-sm-8, .laji-form .col-sm-9,
.laji-form .col-xs-1, .laji-form .col-xs-10, .laji-form .col-xs-11, .laji-form .col-xs-12, .laji-form .col-xs-2, .laji-form .col-xs-3, .laji-form .col-xs-4, .laji-form .col-xs-5, .laji-form .col-xs-6, .laji-form .col-xs-7, .laji-form .col-xs-8, .laji-form .col-xs-9 {
	padding-right:3px;
	padding-left:3px;
}

.laji-form .row {
	margin-left: -3px;
	margin-right: -3px;
}

.laji-form .select-icon svg {
	max-height: 20px;
	max-width: 20px;
	margin-top: 4px;
}
.laji-form .dropdown-menu .select-icon svg {
	max-width: 30px;
}
.laji-form .highlight .select-icon svg path {
	fill: white !important;
}

.laji-form .date-time-buttons {
	width: 130px;
}

.laji-form .laji-form-field-template-item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
}
.laji-form .laji-form-field-template-schema {
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	flex-basis: 0%;
}
.laji-form .laji-form-field-template-buttons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-start;
	max-width: 52px;
}

@media (max-width: 768px) {
	.laji-form .glyph-button, .laji-form .laji-form-field-template-buttons button {
		margin-bottom: 0px;
	}
	.laji-form .laji-form-field-template-buttons {
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: flex-start;
		
	}
	.laji-form .btn-toolbar:not(.desktop-layout) .btn {
		width: 100%;
		margin-bottom: 2px;
	}
}

.laji-form .date-widget {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form .date-widget .date-picker {
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
}
.laji-form .date-widget .btn-group {
	margin-left: 1px;
}
.laji-form .date-widget .btn-group .btn {
	height: 25px;
	line-height: 12.5px;
}
.laji-form .laji-form-clickable-panel-header {
	padding: 10px 15px;
	cursor: pointer;
	color: rgb(51, 51, 51);
}
.laji-form .laji-form-clickable-panel .panel-heading, .laji-form .pager {
	padding: 0;
	margin: 0;
}
.laji-form button.laji-form-accordion-header {
	color: white;
}
.laji-form .panel:not(.panel-danger) div.laji-form-accordion-header {
	background-color: #e2e2e2;
}
.laji-form .laji-form-accordion-buttons .btn {
	margin-top: 5px;
	height: 48px;
	width: 100%;
}

.laji-form .gray {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}
.laji-form .darker {
	background-color: #e2e2e2;
}
.laji-form .darker legend {
	border-color: #cacaca;
}
.laji-form .darker th {
	border-color: #cacaca;
}
.laji-form .laji-form-single-active-array .panel-body {
	background: #f5f5f5;
}

.laji-form .well.slim {
	margin-bottom: 2px;
	padding: 2px;
}

.laji-form .laji-form-accordion-header .panel-title {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form .pager .panel-title {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.laji-form .laji-form-accordion-header .panel-title > *:first-child {
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 0px; /** Ellipsis overflowing doesn't work without fixed width **/
}
.laji-form .laji-form-accordion-header .pager .panel-title > *:first-child {
	width: auto;
}

.laji-form .map-highlight, .laji-form.reorder-active {
	outline: 2px solid #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.laji-form .panel-body:not(.laji-map-dialog) {
	padding: 8px;
}
.laji-form .panel:not(.laji-form-popped) .panel-body {
	padding-top: 3px;
}

.laji-form .has-error .rw-widget {
	border-color: #a94442 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.laji-form .unit-short-hand {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 3px;
}
.laji-form .unit-short-hand button {
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
}

.laji-form label .bootstrap-switch {
    border-radius: 2px;
    font-weight: normal;
}
.laji-form .bootstrap-switch-container {
    border-radius: 2px;
}
.laji-form .bootstrap-switch-container span {
    height: 23px;
	white-space: nowrap;
}
.laji-form .bootstrap-switch .bootstrap-switch-handle-on {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.laji-form .laji-form-popped {
	position: fixed;
	z-index: 1030;
	-webkit-box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	box-shadow: 13px 18px 43px -18px rgba(0,0,0,0.75);
	max-height: 90%;
	overflow: auto;
}
.laji-form .laji-form-error-list {
	top: 5px;
	left: 5px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid #bd362f;
}
.laji-form .laji-form-error-list.laji-form-warning-list {
	border: 1px solid #f0ad4e;
}
.laji-form .laji-form-error-list .panel, .laji-form .laji-form-error-list .panel-heading {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}
.laji-form .laji-form-error-list .error-panel .panel-heading {
	background-color: #bd362f;
}
.laji-form .laji-form-error-list .warning-panel .panel-heading {
	background-color: #f0ad4e;
}
.laji-form .laji-form-warning-container .rw-widget, .laji-form .laji-form-warning-container .form-control {
	border-color: #f0ad4e !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}
.laji-form .laji-form-warning-container, .laji-form .laji-form-error-container {
	padding: 0px;
}
.laji-form ul.laji-form-warning-container li, .laji-form ul.laji-form-error-container li {
    color: white;
    border-radius: 2px;
    list-style: none;
    margin: 1px;
    padding: 2px 5px;
}
.laji-form ul.laji-form-warning-container li {
    background: #f0ad4e;
}
.laji-form ul.laji-form-error-container li {
	background-color: #bd362f;
}
.laji-form .laji-form-error-list .panel-title {
	color: white;
}
.laji-form .laji-form-error-list .btn-link {
	color: white;
}
.laji-form .laji-form-error-list .btn-link:hover {
	color: #dddddd;
}
.laji-form .laji-form-error-list .btn-link:focus {
	outline: none;
}
.laji-form-error-list .laji-form-error-list-expand {
	font-size: 12px;
}
.laji-form .laji-form-error-list .pull-right > * {
	margin-left: 5px;
}
.laji-form .laji-form-error-list .panel-footer {
	position: sticky;
	bottom: 0px;
}

.laji-form .shortcut-help {
	bottom: 5px;
}
.laji-form .hidden {
	display: none;
}
.laji-form .checkbox-container {
	display: table;
}

.laji-form.map-dialog .modal-content, .laji-form.map-dialog .modal-body {
	width: auto;
	height: inherit;
}
.laji-form.map-dialog {
	width: 90%;
	height: 90%;
}
.laji-form .laji-form-single-active-array .panel-group {
	margin-bottom: 0px;
}
.laji-form-single-active-array .panel-group .btn-toolbar {
	margin-top: 5px;
}
.laji-form-accordion-buttons.row:first-child {
	margin-bottom: 5px;
}
.laji-form .btn-toolbar {
	margin-right: 5px;
}
.laji-form .panel-group .panel {
	border-radius: 2px;
}

.laji-form .single-active-array-table-hidden * {
	visibility: hidden !important;
	height: 0 !important;
	line-height: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	vertical-align: top !important;
}
.laji-form .single-active-array-table-container .laji-form-field-template-buttons {
	width: 26px;
}
.laji-form .single-active-array-table-container .table-responsive.laji-form-field-template-schema {
	width: 1px; /** firefox 52 table-responsive fails without fixed width (possibly related to display: flex also?) **/
}
.laji-form .single-active-array-table {
	border-right: none;
}
.laji-form .single-active-array-table-delete {
	width: 1px;
	padding: 0px;
}
.laji-form .single-active-array-table-delete button {
	padding: 0px;
	height: 25px;
	width: 25px;
	margin: 1px 0px 0px 2px;
	line-height: 7px;
}
.laji-form .single-active-array-table-container .delete-button-container {
	position: absolute;
	right: 0px;
	padding: 0px !important;
	border: 0px !important;
}
.laji-form .single-active-array-table td > img {
	height: 15px;
}

.laji-form .highlight-error-fire {
    -webkit-animation: shake .5s linear 1;
}

/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(10px);
    }
}

/* Custom bootstrap grid class */

.col-xs-13104,
.col-sm-13104,
.col-md-13104,
.col-lg-13104,
.col-xs-6104,
.col-sm-6104,
.col-md-6104,
.col-lg-6104 {
	position: relative;
	min-height: 1px;
}

@media (min-width: 768px) {
	.col-sm-13104 {
		width: calc(100% / 104 * 13);
		float: left;
	}
	.col-sm-6104 {
		width: calc(100% / 104 * 6);
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-13104 {
		width: calc(100% / 104 * 13);
		float: left;
	}
	.col-md-6104 {
		width: calc(100% / 104 * 6);
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-13104 {
		width: calc(100% / 104 * 13);
		float: left;
	}
	.col-lg-6104 {
		width: calc(100% / 104 * 6);
		float: left;
	}
}

.laji-form table {
	margin-bottom: 3px;
}

.laji-form .well-compact {
	margin: 0 0 1px 0;
	padding: 4px 10px;
}

.laji-form .well-compact .plainText {
	line-height: 25px;
}

.laji-form .well-compact-striped .laji-form-field-template-item:nth-child(even) .well-compact {
	background-color: #e3e3e3;
}

.laji-form .laji-form-compact-table .row {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -1px;
	margin-left: -1px;
}

.laji-form .laji-form-compact-table .laji-form-label-row {
	padding-top: 0;
	padding-bottom: 0;
}

.laji-form .laji-form-compact-table .row .row {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 3px;
}

.laji-form .laji-form-compact-table [class^="col-"] {
	padding-right: 1px;
	padding-left: 1px;
}

.laji-form-dense-table input {
	font-weight: bold;
}
.laji-form-dense-table input::-webkit-input-placeholder {
	font-weight: normal;
}
.laji-form-dense-table input::-moz-placeholder {
	font-weight: normal;
}
.laji-form-dense-table input:-ms-input-placeholder {
	font-weight: normal;
}
@media (max-width: 910px) {
	.laji-form .laji-form-dense-table .col-xs-12 {
		width: 100%;
	}

	.laji-form .laji-form-dense-table .col-xs-3 {
		width: 25%;
	}

	.laji-form .laji-form-dense-table .hidden-xs {
		display: none;
	}

	.laji-form .laji-form-dense-table .laji-form-field-template-item {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.laji-form .laji-form-dense-table .btn-toolbar {
		margin-top: 10px;
	}
}


.laji-form .laji-form-striped-array-table {
	padding-left: 0;
	padding-right: 0;
}

.laji-form .laji-form-striped-array-table .btn-toolbar, .laji-form .laji-form-striped-array-table legend, .laji-form .laji-form-striped-array-table .laji-form-label-row, .laji-form .laji-form-striped-array-table .laji-form-field-template-item {
	padding-right: 7px;
	padding-left: 7px;
}

.laji-form .laji-form-striped-array-table .laji-form-field-template-item:nth-child(odd) {
	background-color: #e3e3e3;
}
.laji-form .named-place-popup td:first-child {
	padding-right: 5px;
}
.laji-form .named-place-popup td:first-child {
	padding-right: 5px;
}
.laji-form #named-place-chooser-select {
	margin-bottom: 5px;
}
.laji-form.map-dialog .react-spinner {
	left: 50%;
	top: 50%;
	z-index: 1000;
	padding: 50px;
}
.laji-form .popover {
	z-index: 1040;
}
.laji-form .place-saver-dialog .alert {
	margin-top: 5px;
}

.laji-form .autosuggest-input-addon.input-group-addon {
	padding: 0px 3px;
	background: #eee;
	color: #555;
	cursor: pointer;
}
.laji-form .autosuggest-input-addon.input-group-addon.active {
	color: #63a2c7;
}
.autosuggest-input-addon.input-group-addon:focus, .autosuggest-input-addon.input-group-addon:hover {
	background-color: white;
	background: #ddd;
}
.laji-form .autosuggest-input-addon.input-group-addon .close {
	float: none;
	font-size: 14px;
	margin-left: 2px;
}
.laji-form .autosuggest-input-addon.input-group-addon > span {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form .autosuggest-input-addon.input-group-addon > .glyphicon {
	margin-top: -2px;
	margin-left: 2px;
}

.laji-form .informal-group-image {
	min-width: 20px;
	min-height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

.laji-form .informal-taxon-groups-list.list-group {
	z-index: 1;
	margin-left: -1px;
	margin-top: 2px;
}
.laji-form .informal-taxon-groups-list .list-group-item, .laji-form .informal-taxon-groups-list li a {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 2px 9px;
}
.laji-form .informal-taxon-groups-list .list-group-item .informal-group-image {
	margin-left: -5px;
	margin-right: 5px;
}
.laji-form .informal-taxon-groups-list .active .informal-group-image {
	background-color: white;
}
.laji-form .informal-taxon-groups-list .dropdown.btn-group button {
	height: 25px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form .informal-taxon-groups-list .dropdown.btn-group button .caret {
	margin-top: 5px;
}
.laji-form.informal-taxon-group-chooser .informal-group-image {
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
.laji-form.informal-taxon-group-chooser h4 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.laji-form.informal-taxon-group-chooser .list-group-item {
	background: #eee;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.laji-form.informal-taxon-group-chooser .list-group-item h5, .laji-form.informal-taxon-group-chooser .list-group-item span {
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

.laji-form .informal-taxon-groups-list button {
	width: 100%;
	height: 25px;
}
.laji-form .informal-taxon-groups-list .informal-group-chooser-button-content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-top: -6px;
	height: 25px;
}
.laji-form .informal-taxon-groups-list .informal-group-chooser-button-content span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 4px;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	text-align: initial;
}
.laji-form .informal-taxon-groups-list .informal-group-chooser-button-content .close {
	width: auto;
	margin-top: 1px;
}
.laji-form.informal-taxon-group-chooser .list-group-item.not-root {
	height: 32px;
	font-size: 12px;
	padding: 6px;
}
.laji-form.informal-taxon-group-chooser .list-group-item.not-root button {
	height: 32px;
	font-size: 12px;
	line-height: 6px;
	margin-top: -7px;
	margin-right: -7px;
	margin-left: 6px;
}

.informal-taxon-group-chooser .panel .informal-group-image {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
.informal-taxon-group-chooser .panel-heading {
	height: 52px;
	text-align: center;
}
.laji-form legend .informal-group-image {
	width: 20px;
	height: 20px;
	float: left;
}

.laji-form .informal-taxon-group-chooser .panel {
	transition: border .2s ease-in-out;
	cursor: pointer;
}
.laji-form .informal-taxon-group-chooser .panel:hover {
	border-color: #337ab7;
}

.tooltip-inner {
	max-width: 300px;
}

.laji-form .affixed-labels {
	background: #f5f5f5;
	border-bottom: 1px solid #dddddd;
}

.laji-form .unit-shorthand {
	margin-top: 5px;
}
.laji-form .fetcher-input.has-toggler .react-spinner {
	margin-right: 25px;
}

.laji-form .laji-text-select {
	padding: 5px;
	padding-top: 0;
	padding-bottom: 0;
}

.laji-form .laji-text-select .checkbox {
	margin: 0;
}

.laji-form .laji-map .leaflet-draw-tooltip .text-danger {
	color: #ffbbbb;
}

.laji-form .annotation-list {
	background-color: #f9f9f9;
}
.laji-form .annotation-list-odd {
	background-color: #f4f4f4;
}
.laji-form .map-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.laji-form .no-transition .collapsing {
	transition: none !important;
}

.laji-form .map-array-field-below-buttons {
	margin-top: 20px;
}
